body {
  color: #f8f9fa;
  text-align: center;
}
.jumbotron {
  background-image: url("../images/heroimgcat.jpg");
  background-position: 100%;
  margin-bottom: 0rem;
}
.navprim {
  background-color: transparent;
  padding-top: 3%;
}
.userResearch {
  text-align: center;
  background-color: #b9deee;
}
.col-ur {
  background-color: #ffa99d;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -100px;

  margin-left: -101px;
}
.col-id {
  background-color: #b9deee;
}
.ideation {
  background-color: #abcdc7;
}
.design {
  background-color: #ffa99d;
}
.col-de {
  background-color: #abcdc7;
}
.navfoot {
  background-color: #b9deee;
  padding-top: 1%;
}
.nav-pills {
  background-color: #abcdc7;
}
.active {
  background-color: #ffa99d;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ffa99d;
}
